<%= link_to '〈', root_path, :class => 'link-back' %>

<h1><%= @user.name %>'s Quotes: <% if current_user == @user || current_user.admin? %><small class="black"><%= link_to 'Edit account', edit_user_path %></small><% end %></h1>

 <div class="quotes-container">
  <% @user.quotes.reverse.each do |quote| %>
    <div class="quote">
      <span class="quote-content"><%= quote.content %></span>
      <br><br>
      <small>Created at <%= link_to quote.created_at, quote_path(quote) %></small>
    </div>
  <% end %>
</div>